body {
  margin: 60px;
  background-color: #121725;
  font-family: "Roboto", sans-serif;
}

.podcast-top-container {
  display: flex;
  flex-wrap: wrap;
}

.div-logo {
  margin-left: 40px;
  padding: 30px;
}

.div-background-image {
  z-index: -1;
  position: relative;
  left: 650px;
  width: 888px;
  height: 640px;
}

.div-dots {
  position: absolute;
  z-index: 2;
  left: 1380px;
  top: 750px;
}
.podcast-top-container-header {
  position: absolute;
  left: 100px;
  background-color: #121725;
  z-index: 1;
  text-align: left;
  padding: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
}

.podcast-top-container-header > h1 {
  color: #54e3ad;
  font-size: 48px;
  font-weight: 300;
}

.podcast-top-container-header > p {
  color: #c2cbe5;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin-top: -30px;
}

.input-genre {
  display: flex;
  text-align: left;
  align-items: center;
  background-color: #2b344b;
  height: 56px;
  border-radius: 28px;
  color: #6b6b6f;
  width: 715.1px;
}

.podcast-middle-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  text-align: center;
  align-items: center;
  width: 814.1px;
  height: 500.21px;
  padding: 0;
  overflow: hidden;
}

.podcast-middle-container > p {
  color: #c2cbe5;
  align-self: flex-start;
}

#card > .card-image {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 25px;
}
#card > h3 {
  color: #c2cbe5;
  text-align: center;
  font-weight: 300;
}

#card > h4 {
  color: #779ac6;
  text-align: center;
  font-weight: 500;
}

.btn-listen {
  display: block;
  background-color: aquamarine;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 25px;
  text-align: center;
  margin-left: 30px;
  padding: 10px;
  font-weight: bold;
  font-size: small;
}

.podcast-footer {
  align-self: flex-end;
  flex-wrap: nowrap;
}

.podcast-footer > img {
  padding: 30px;
}

.img-spotify,
.img-apple,
.img-google,
.img-pocket {
  padding: 30px;
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .div-background-image > img,
  .div-dots > img {
    display: none;
  }
  /* body {
    background: url("./podcast-assets/desktop/image-host.jpg");
  } */
  .main {
    display: flex;
  }

  .podcast-middle-container {
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
  }

  .podcast-top-container-header {
    max-width: 60%;
    max-height: 50%;
  }
  .podcast-top-container-header > h1 {
    font-size: 32px;
  }

  .podcast-top-container-header > p {
    margin-top: -20px;
  }
}
